/* - Weights: 500, 700 */

/* golbal */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --Medium-Grey: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --White: hsl(0,0%, 100%);
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.2rem;
    color: var(--Almost-Black);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Almost-Black);
}

p {
    font-weight: 500;
    color: var(--Medium-Grey);
    margin: 1em 0;
}

.clickable,
.btn, 
li
{
    color: var(--Medium-Grey);
    cursor: pointer;
}
.clickable:hover,
.clickable:focus,
.btn:hover,
.btn:focus,
li:hover, 
li:focus
{
    color: var(--Almost-Black);
}


body { 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hide{
    display: none;
}

.btn {
    display: flex;
    align-items: center;
    background-color: var(--White);
    border: none;
}

li {
    list-style: none;
    color: var(--Medium-Grey);
    margin-top: 1em;
}

.modal {
    position: absolute;
    z-index: 0;
    background-color: var(--Almost-Black);
    height: 100%;
    width: 100%;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
}

.snap-logo {
    padding: 1em;
}

.menu {
    position: absolute;
    background-color: var(--White);
    right: 0px;
    height: 100vh;
    width: 65%;
    z-index: 2;
    padding: 0 2em;
}

.main-menu-list{
    margin-top: 4em;
}

.desktop-menu-list {
    display: none;
}

.menu-close {
    position:relative;
    z-index: 3;
}
.menu-btn {
    margin: 1em;
}

.list-child{
    text-indent: 20px;
}


.arrow {
    margin-left: .75em;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

.register {
    border: 1px solid var(--Almost-Black);
    padding: .5em 3em;
    border-radius: .5em;
    margin-top: 1em;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

.hero-mobile {
    max-width: 100%;
}

.hero-desktop {
    display: none;
}

.learn-more {
    margin-bottom: 2em;
    padding: .75em;
    border-radius: .75em;
    border: 1px solid var(--Almost-Black);
    background-color: var(--Almost-Black);
    color: var(--White);
}

/* footer */

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.client {
    max-width: 75px;
    max-height: 26px;
}


/* animation */

.slide{
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* menu */
.animate-in {
    animation: slide-in 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animate-out {
    animation: slide-out 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* modal */
.fade-in {
    animation: fade-in .25s ease-out both;
}

.fade-out {
    animation: fade-out .25s ease-out both;
}


@keyframes slide-in {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
    }
@keyframes slide-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(250px);
    }
}

@keyframes fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: .75;
    }
}

@keyframes fade-out {
    0% {
        opacity: .75;
    }
    100% {
        opacity: 0;
    }
}

/* media */


@media only screen and (min-width: 1024px){
    body{
        padding: 2em;
        max-height: 100vh;
        justify-content: center;
    }

    main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items:center;
        padding: 2em;
        max-height: 90%;
    }
    .content {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-between;
        margin: 1em;

    }
    
    h1 {
        font-size: 3.9rem;
        margin: 0;
        line-height: 3.6rem;
    }
    
    p {
        font-weight: 500;
        color: var(--Medium-Grey);
        line-height: 1.5rem;
        margin: 3em 4em 0 0;
    }

    .hero-mobile {
        display: none;
    }
    
    .hero-desktop {
        display: block;
        max-height: 90%;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        max-width: 100%;
    }
    
    .menu {
        position: relative;
        background-color: var(--White);
        right: 0px;
        height: auto;
        min-width:fit-content;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        padding: 0em;
    }

    .menu-open {
        display: none;
    }
    
    .menu-close {
        display: none;
    }

    .main-menu-list {
        display: none;
        margin-top: 0;
    }

    .desktop-menu-list {
        display: flex;
        position: absolute;
        top: -30px;
        z-index: 2;
    }

    .btn-parent {
        color: var(--Medium-Grey);
    }

    li {
        margin-right: 1em;
        margin-top: 1em;
    }

    .menu-list-features,
    .menu-list-company{
        box-shadow: 5px 10px 18px hsla(0, 0%, 0%, .05);
        position: absolute;
        z-index: 99;
        background-color: var(--White);
        top: 50px;
        padding: 0 .25em 1em .25em;
    }

    .menu-list-features {
        left: -55px;
    }
    .menu-list-company {
        left: 125px;
    }


    .button-container {
        flex-direction: row;
        margin-top: 0;
    }

    .register {
        margin: 0 2em;
    }

    .learn-more {
        margin-bottom: 0;
        margin-top: 2em;
        background-color: var(--White);
        color: var(--Almost-Black);
        font-size: 1.2rem;
    }

    .learn-more:hover,
    .learn-more:focus{
        background-color: var(--Almost-Black);
        color: var(--White);
    }

    .footer-logo {
        margin-top: 4em;
        min-width: 85%;
        justify-content: space-between;
    }

}